build/
node_modules/
.bundle
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/aa-guides-antora/CopilotIndices/17.14.794.21998/CodeChunks.db
.vs/aa-guides-antora/CopilotIndices/17.14.794.21998/SemanticSymbols.db
.vs/aa-guides-antora/FileContentIndex/2cfd1b81-996d-4972-8ba6-119ec7cc0d41.vsidx
.vs/aa-guides-antora/FileContentIndex/8fd8e5f9-51f1-4a3a-9661-2fdaa5998272.vsidx
.vs/aa-guides-antora/FileContentIndex/66bfc298-ba23-4dba-bf2d-347257204cb8.vsidx
.vs/aa-guides-antora/FileContentIndex/df696ebd-d596-4a8a-91fd-ab6b3459ea9e.vsidx
.vs/aa-guides-antora/FileContentIndex/f36cb980-8494-4dc1-8383-628ac3ce9168.vsidx
.vs/aa-guides-antora/v17/.wsuo
.vs/aa-guides-antora/v17/DocumentLayout.backup.json
.vs/aa-guides-antora/v17/DocumentLayout.json
